@charset "UTF-8";


body {
  color: #333;
  font-family: 'Lato';
}

a {
  display: inline-block;
  text-decoration: none;
}

.font-Raleway {
  font-family: 'Raleway';
}

header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 100;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-bolt {
  color: #4e4e4e;
}

.header-icon {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
}

.header-icon , .ourlatest-icon {
  transition-property: color;
  transition-duration: .3s;
}

.header-icon:hover , .ourlatest-icon:hover{
  color: #333;
}

main {
  width: 100%;
  padding-top: 70px;
}

.main > .Bolt {
  background-color: #f2f2f2;
  padding-top: 250px;
  padding-bottom: 250px;
}

.BoltTheme-inner > h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.BoltTheme-inner > p {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.main > .what {
  background-color: #74cfae;
  color: #fff;
  padding-top: 50px;
}

.what-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.what .what-text {
  width: 660px;
  position: relative;
  top: 50%;
  transform: translateY(-30%);
}

.what-inner h2 {
  font-size: 24px;
}

.what-inner p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 35px;
}

main > .ourlatest {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}

.ourlatest-inner > h2 , .ourskills-inner > h2 {
  font-size: 24px;
}

.ourlatest-container , .ourskills-container {
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.ourlatest .ourlatest-img {
  opacity: .7;
  transition-property: opacity;
  transition-duration: .3s;
}

.ourlatest .ourlatest-img:hover {
  opacity: 1;
}

.ourlatest .ourlatest-img {
  margin-top: 80px;
  margin-left: 100px;
}

.ourlatest .ourlatest-img:nth-child(-n+3) {
  margin-top: 0;
}

.ourlatest .ourlatest-img:first-child , .ourlatest .ourlatest-img:nth-child(3n+4) {
margin-left: 0;
}

.ourlatest-container-secondary {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.ourlatest-text {
  width: 620px;
  font-size: 20px;
  line-height: 24px;
}

.ourlatest-icon {
  width: 80px;
  align-self: flex-start;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
}

main > .ourskills {
  background-color: #4e4e4e;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 100px;
}

.ourskillst-text:first-child {
  margin-left: 0;
}

.ourskillst-text {
  font-size: 16px;
  line-height: 24px;
  margin-left: 180px;
}

main > .sns {
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns .sns-text {
  color: #74cfae;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 100px;
  transition-property: background;
  transition-duration: .3s;
}

.sns-text:hover {
  background-color: #fff;
}

footer {
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

footer > .footer-inner {
  text-align: end;
  color: #fff;
}
